<section
  class="max-w-7xl p-6 mx-auto bg-white rounded-md shadow-md dark:bg-gray-800 mt-6 text-white"
>

  <div
    class="flex flex-col justify-center content-center justify-items-center items-center"
  >
    <h4>{{word.word}}</h4>
    <audio controls src="{{word.audio}}"></audio>
  </div>

</section>