{{! <h1>404 Error</h1>
<h2>This route does not exist on the app! Check if everything is ok! Check your routes to see what might have happened
</h2> }}
<a
  href="/"
  class="mt-1 ml-1 z-20 absolute top-0 left-0 focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900"
>Home</a>
<img src="/images/404.png" alt="" class="object-cover w-screen h-screen" />