<section
  class="max-w-4xl p-6 mx-auto bg-gray-800 rounded-md shadow-md dark:bg-gray-800 mt-6"
>
  <h2 class="text-lg font-semibold text-gray-200 capitalize dark:text-white">New
    collection</h2>

  <form method="POST" action="/collection/create">
    <div class="grid grid-cols-1 gap-6 mt-4 sm:grid-cols-1">
      <div>
        <label
          class="text-gray-200 dark:text-gray-200"
          for="collectionName"
        >Collection name</label>
        <input
          id="collectionName"
          name="name"
          type="text"
          class="block w-full px-4 py-2 mt-2 text-gray-200 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring"
        />

      </div>
      <label
        for="privateToggle"
        class="inline-flex relative items-center cursor-pointer"
      >
        <input
          type="checkbox"
          value=""
          id="privateToggle"
          class="sr-only peer"
          name="private"
        />
        <div
          class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"
        ></div>
        <span
          class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300"
        >Private</span>
      </label>
    </div>

    <div class="flex justify-end mt-6">
      <button
        class="px-6 py-2 leading-5 text-white transition-colors duration-200 transform bg-gray-700 rounded-md hover:bg-gray-600 focus:outline-none focus:bg-gray-600"
      >Save</button>
    </div>
  </form>
</section>