<section class="splide absolute w-full m-0" aria-label="Splide Basic HTML Example">
  <div class="splide__track">
		<ul class="splide__list">
            {{#each wordSet.words}}
                <li class="splide__slide w-full">
                    {{> word this}}       
                </li>
            {{/each}}
		</ul>
  </div>
</section>
<script src="/js/splide/splide.min.js"></script>
<script src="/js/queryWordInfo.js"></script>
<script>
    var splide = new Splide( '.splide' );
    splide.mount();
</script>