<section class="splide w-full m-0" aria-label="Splide Basic HTML Example">
    <div class="splide__track">
        <ul class="splide__list">
            {{#each wordSet.words}}
            <li class="splide__slide w-full">
                {{> word this}}
            </li>
            {{/each}}
        </ul>
    </div>
    <div class="flex flex-col justify-center content-center justify-items-center items-center">
        <div class="wrapper audioPlayer">

            <header>
                <h1>Web dictaphone</h1>
            </header>

            <section class="main-controls">
                <canvas class="visualizer" height="60px"></canvas>
                <div id="buttons">
                    <button class="record">Record</button>
                    <button class="stop">Stop</button>
                </div>
            </section>

            <section class="sound-clips">

            </section>

        </div>


    </div>
</section>

<script src="/js/audioRecorder.js"></script>
<script src="/js/splide/splide.min.js"></script>
<script src="/js/queryWordInfo.js"></script>
<script>
    var splide = new Splide('.splide');
    splide.mount();
</script>